{% extends "IncidenciaBundle::layout.html.twig" %}
{% block title %}Listado{% endblock %}

{% block izquierdo %}
<div id="enlace">
</div>
{% endblock %}

{% block principal %}

<form action="{{ path('altasubtarea') }}" method="post" {{ form_enctype(form) }} class="AddUserForm">
    {{ form_errors(form.descsubtarea) }}
    {{ form_errors(form.fc_modif) }}
    {{ form_errors(form.group) }}
    {{ form_errors(form) }}

    {{ form_label(form.descsubtarea, '*Descripcion:') }}
    {{ form_widget(form.descsubtarea) }}

    {{ form_label(form.fc_modif, '*Fecha de modificacion:') }}
    {{ form_widget(form.fc_modif) }}

    {{ form_label(form.group, '*Group:') }}
    {{ form_widget(form.group, { 'attr': {'class': 'select_group'}, 'empty_value': '-- elegir una tarea --' }) }}

    {{ form_rest(form) }}
    <div class="clear"></div>

    <input type="submit" value="Aceptar"/>
</form>

{% endblock %}
