{% extends "IncidenciaBundle::layout.html.twig" %}
{% block title %}Listado{% endblock %}

{% block izquierdo %}<div id="enlace">

</div>
{% endblock %}

{% block principal %}

    <article class="tareas">

        <header>
            <div class="date">Fecha de alta:<time datetime="{{  detalletarea.fc_modif |date('c') }}">{{ detalletarea.fc_modif |date('jS F, Y') }}</time></div>
            <h2>{{ detalletarea.ds_tarea }}</h2>
        </header>

    </article>

{% endblock %}
