{% extends "IncidenciaBundle::layout.html.twig" %}
{% block title %}Listado{% endblock %}

{% block izquierdo %}
<div id="enlace">
</div>
{% endblock %}

{% block principal %}

<h2>{{ titulo }}</h2>

    <div class="form-group">

        {{form_start(form)}}

        <div class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-sm-2" for="Descripcion de la subtarea">Descripcion de la subtarea</label>
                {{form_errors(form.descsubtarea)}}
                <div class="col-sm-10">
                    {{form_widget(form.descsubtarea)}}
               </div>
           </div>


           <div class="form-group">
                <label class="control-label col-sm-2" for="Tareas">Tareas</label>

                {{form_errors(form.group)}}
                <div class="col-sm-10">
                    {{form_widget(form.group)}}
               </div>
           </div>

           <div class="form-group">
                <label class="control-label col-sm-2" for="Fecha de modificación">Fecha de modificación</label>

                {{form_errors(form.fc_modif)}}
                <div class="col-sm-10">
                    {{form_widget(form.fc_modif)}}
                </div>
            </div>

        </div>

        {{form_end(form)}}

{% endblock %}
