{% extends "IncidenciaBundle::layout.html.twig" %}
{% block title %}Listado{% endblock %}

{% block izquierdo %}
<div id="enlace">
</div>
{% endblock %}

{% block principal %}

<h2>{{ titulo }}</h2>

    <div class="form-group">

        {{form_start(form)}}

        <div class="form-horizontal">

            <div class="form-group">
                 <label class="control-label col-sm-2" for="descripcion tarea">Descripcion de la tarea</label>
                {{form_errors(form.ds_tarea)}}
                <div class="col-sm-10">
                    {{form_widget(form.ds_tarea)}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="fecha de modificacion">{{"Fecha de modificación"}}</label>
                {{form_errors(form.fc_modif)}}
                <div class="col-sm-10">
                    {{form_widget(form.fc_modif)}}
                </div>
            </div>

        </div>

        {{form_end(form)}}

    </div>

{% endblock %}
