{% extends "IncidenciaBundle::layout.html.twig" %}
{% block title %}Listado{% endblock %}

{% block izquierdo %}<div id="enlace">
    
</div>
{% endblock %}

{% block principal %}
 
    <div class="container">
 
      <div class="login-box">
  
            <div class="login-box-body">
 
              <form class="form-signin" action="?checkLogin" method="post">
 
                <div class="form-group has-feedback">
                  <input name="email" type="text" class="form-control" placeholder="User or email" value="{{ USER_EMAIL }}" autofocus />
                  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
 
                <div class="form-group has-feedback">
                  <input type="password" class="form-control" placeholder="Password" name="password" value="{{ PASSWORD }}" />
                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
 
                <div class="row">
 
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                  </div>
 
                </div>
 
              </form>
 
            </div>

          {% if ERROR == 'INVALID_CREDENTIALS' %}
          <div class="row">
              <div class="alert alert-danger text-center">
                  <strong>Error, wrong credentials.</strong>
              </div>
          </div>
          {% endif %}
 
        <!-- /.login-box-body -->
      </div>
 
    </div><!-- /container -->
 
{% endblock %}
