{% extends "IncidenciaBundle::layout.html.twig" %}
{% block title %}Listado{% endblock %}

{% block izquierdo %}<div id="enlace">

</div>
{% endblock %}

{% block principal %}

<p>Listado de Subtareas</p>
    <table class="table table-condensed">
        <thead>
            <tr>
            <th>Subtarea</th>
            <th>Tarea</th>
            <th>editar</th>
            <th>borrado</th>
            <th>fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for subtarea in subtareas %}
            <tr>
                <td><a href="{{ path('detallesubtarea', {'id': subtarea.idsubtarea}) }}">{{ subtarea.descsubtarea }}</a></td>
                <td>{{ subtarea.ds_tarea }}</td>
                <td><a href="{{ path('modificarsubtarea', {'id': subtarea.idsubtarea}) }}">editar</a></td>
                <td><a href="{{ path('borrarsubtarea', {'id': subtarea.idsubtarea}) }}">borrar</a></td>
                <td>{{ subtarea.fc_modif |date('d-m-Y') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% if is_granted('ROLE_ADMIN') %}
    <a href="...">Delete</a>
{% endif %}

{% endblock %}
