{% extends "IncidenciaBundle::layout.html.twig" %}
{% block title %}Listado{% endblock %}

{% block izquierdo %}<div id="enlace">

</div>
{% endblock %}

{% block principal %}

<p>Listado de tareas</p>
    <table class="table table-condensed">
        <thead>
            <tr>
            <th>Tarea</th>
            <th>editar</th>
            <th>borrado</th>
            <th>fecha de modificación</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
            <tr>
                <td><a href="{{ path('detalletarea', {'id': tarea.id_tarea}) }}">{{ tarea.ds_tarea }}</a></td>
                <td><a href="{{ path('modificartarea', {'id': tarea.id_tarea}) }}">editar</a></td>
                <td><a href="{{ path('borrartarea', {'id': tarea.id_tarea}) }}">borrar</a></td>
                <td>{{ tarea.fc_modif |date('d-m-Y') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% if is_granted('ROLE_ADMIN') %}
    <a href="...">Delete</a>
{% endif %}

{% endblock %}
