{% extends "IncidenciaBundle::layout.html.twig" %}
{% block title %}Listado{% endblock %}

{% block izquierdo %}<div id="enlace">
    
</div>
{% endblock %}

{% block principal %}
<h2>Acceso</h2>
    <form class="form-horizontal" action="{{ path('login_check') }}" method="post">
        <div class="form-group has-feedback">
            <label for="username" class="control-label col-sm-2">Usuario:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="password" class="control-label col-sm-2">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="_password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
        </div>
            {#
                añade lo siguiente si quieres redirigir al usuario a una
                URL concreta después del login (explicado más adelante)
                <input type="hidden" name="_target_path" value="/account" />
            #}

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label><input type="checkbox" name="remember"> Recuerdame</label>
            </div>
          </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Entrar</button>
            </div>
        </div>

    </form>
    
{% if error %}

    <div class="alert alert-danger">
        <strong>Aviso!</strong> {{ error.message | replace({"Bad credentials." : "Usuario o password inválido."}) }}
    </div>

{% endif %}

{% endblock %}
