<!DOCTYPE html>
    <html lang="es">
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Incidencias{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="sticky-footer-navbar.css">
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}

        </head>

       <body>

            {% block cabecera %}
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">logs</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active">
                           <a href="{{ path('inicio') }}" >Home</a>
                        </li>
                        <li class="dropdown">
                           <a class="dropdown-toggle" data-toggle="dropdown" href="#">Listado <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                               <li><a href="{{ path('listartareas') }}" >Tareas</a></li>
                               <li><a href="{{ path('listarsubtareas') }}" >Subtareas</a></li>
                           </ul>
                        </li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                        <li class="dropdown">
                           <a class="dropdown-toggle" data-toggle="dropdown" href="#">Alta <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                               <li><a href="{{ path('altatarea') }}" >Alta Tareas</a></li>
                               <li><a href="{{ path('altasubtarea') }}" >Alta Subtareas</a></li>
                           </ul>
                        </li>

                    {% endif %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Herramientas <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('ldap') }}">Acceso Ldap</a></li>
                                <li><a href="#">multimedia</a></li>
                                <li><a href="#">paginacion</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                         <li><a href="#"> {{ app.user.username|default('') }}</a></li>
                         <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                      {% else %}
                         <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                         <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                      {% endif %}
                    </ul>
                </div>
            </nav>
            {% endblock %}

            {% block izquierdo %}
            {% endblock %}

            <div class="container">

            {% block principal %}{% endblock %}

            </div>

        <footer class="footer">

          <div class="container">
            {% block foot %}<span class="text-muted">© 2010-2017 - All rights reserved HTML.Design, layout and articles are copyrighted by pepe</span>{% endblock %}
          </div>

        </footer>

    </body>
</html>
