{# CARP/MtoBundle/Resources/views/Form/fields.html.twig #}
{% block form_row %}
{% spaceless %}
    <div class="form_label">
        {{ form_label(form) }}
    </div>
    <div class="form_error">
        {{ form_errors(form) }}

   </div>            
    <div class="form_widget">            

        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}
